.box {
    background-color: #283747;
    margin: auto;
    margin-top: 350pxs;
    margin-left: 270px;
    columns: 2;
    padding: 10px;
    position: absolute;
    border: 2px solid black;
    border-radius: 50px;
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* margin-top: 250px;
            margin-bottom: 250px;
            margin-left: 250px;
            margin-right: 250px; */
  }
  .desc {
    font-size: larger;
    font-style: normal;
  }
  /* .btn {
    background-color: transparent;
    color:white;
  }
  button {
    background-color: transparent;
    color:whitesmoke;
  }
  button:hover {
    color: yellow;
    background-color: cadetblue;
    transform: scale(1.25);
    size: 50px;
  } */
  pn
  {
    position:absolute;
    font-size: xx-large;
    color:black;

  }
  i
  {
    color: white;
    background-color: transparent;
  }
  i:hover
{
    transform: scale(1.5);
    background-color:transparent;
    color:yellow;
}

  .button{
    align-items: center;
    appearance: none;
    background-clip: padding-box;
    background-color: initial;
    background-image: none;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    flex-direction: row;
    flex-shrink: 0;
    font-family: Eina01,sans-serif;
    font-size: 16px;
    font-weight: 800;
    justify-content: center;
    line-height: 24px;
    margin: 0;
    min-height: 54px;
    outline: none;
    overflow: visible;
    padding: 10px 16px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: auto;
    word-break: keep-all;
    z-index: 0;
  }
  
  @media (min-width: 768px) {
    .button {
      padding: 10px 22px;
    }
  }
  
  .button:before,
  .button:after {
    border-radius: 80px;
  }
  
  .button:before {
    background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
  }
  
  .button:after {
    background-color: initial;
    background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
    bottom: 4px;
    content: "";
    display: block;
    left: 4px;
    overflow: hidden;
    position: absolute;
    right: 4px;
    top: 4px;
    transition: all 100ms ease-out;
    z-index: -1;
  }
  
  .button:hover:not(:disabled):before {
    background: linear-gradient(92.83deg, rgb(255, 116, 38) 0%, rgb(249, 58, 19) 100%);
  }
  
  .button:hover:not(:disabled):after {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition-timing-function: ease-in;
    opacity: 0;
  }
  
  .button:active:not(:disabled) {
    color: #ccc;
  }
  
  .button:active:not(:disabled):before {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  }
  